{% extends "base.html" %}
		
	{% block content %}
	<div class="col-xs-0 col-sm-0 col-md-1 col-lg-1"></div>
	<div class="col-xs-11 col-sm-12 col-md-12 col-lg-12">
		<div class="content">
			{% for post in posts %}
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<div class="post">
					<h3><a href="{% url 'post' post.id %}?page={{ posts.number }}" title="To post">{{ post.title }}</a></h3>
					<p class="post_text">{{ post.bodytext | slice:"400" | safe }}...</p>
					<p><a href="{% url 'post' post.id %}?page={{ posts.number }}" title="To post">To post >></a></p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="col-xs-0 col-sm-0 col-md-1 col-lg-1"></div>
	<div class="col-xs-11 col-sm-12 col-md-12 col-lg-12">
		<div class="content">
			<div class="pagination">
				<span class="step-links">
					{% if posts.has_previous %}
						<a href="?page={{ posts.previous_page_number }}"><< Previous</a>
					{% endif %}

					<span class="current">
						Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
					</span>

					{% if posts.has_next %}
						<a href="?page={{ posts.next_page_number }}">Next >></a>
					{% endif %}
				</span>
			</div>
		</div>
	</div>
	{% endblock %}


